@import url('https://fonts.googleapis.com/css?family=Catamaran');

body {
    font-family: 'Catamaran', sans-serif;
    background:
        #DCDCDC;
}



.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #434C59;
    opacity: .9;
    padding-top: 100px;
    transition: 0.5s;
    overflow: hidden;
}

.nav ul {
    padding: 0;
}

.nav a {
    display: block;
    padding: 20px 30px;
    color: #ccc;
    text-decoration: none;
    font-size: 17px;
}



.nav .close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 30px;
}

.slide a {
    font-size: 36px;
    color: #434C59;
}

.default {
    border-color: #e7e7e7;
    color: black;
}

.btn {
    border: 2px solid black;
    font-family: 'Catamaran', sans-serif;
    background-color: #DCDCDC;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

}

.centrum {
    padding-top: 10vh;
}